.intro__list {
  list-style: none;
  padding-left: 0;
  font-family: Inter, Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  max-width: 690px;
}

@media screen and (max-width: 1023px) {
  .intro__list {
    max-width: 100%;
  }
}
