.content__cover {
  margin-top: 92px;
  /* margin-right: -48px;
  margin-left: -48px; */
}

/* @media screen and (min-width: 1280px) {
  .content__cover {
    margin-right: -100px;
    margin-left: -100px;
  }
} */
